@font-face {
  font-family: 'CenturyGothic';
  src: url('../fonts/CenturyGothic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CenturyGothic-Bold';
  src: url('../fonts/CenturyGothic-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'CenturyGothic-Italic';
  src: url('../fonts/CenturyGothic-Italic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CenturyGothic-BoldItalic';
  src: url('../fonts/CenturyGothic-BoldItalic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
