$containerMaxWidth: 1559px;

/* fonts*/

$fontStandart: 'Arial, sans-serif';
$CenturyGothic: 'CenturyGothic';
$CenturyGothicBold: 'CenturyGothic-Bold';
$CenturyGothicItalic: 'CenturyGothic-Italic';
$CenturyGothicBoldItalic: 'CenturyGothic-BoldItalic';

/* colors */

$white: #fff;
$black: #000;
$blue9f: #30529f;
$blue50:#212f50;
$blue-lighte9: #cde6e9;
$orange37: #f39c37;
