@font-face {
  font-family: "CenturyGothic";
  src: url("../fonts/CenturyGothic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "CenturyGothic-Bold";
  src: url("../fonts/CenturyGothic-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "CenturyGothic-Italic";
  src: url("../fonts/CenturyGothic-Italic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "CenturyGothic-BoldItalic";
  src: url("../fonts/CenturyGothic-BoldItalic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* fonts*/
/* colors */
.section-managers__content {
  display: grid;
  grid-template-areas: "left right-top" "left right-bottom";
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto;
  -moz-column-gap: 2vw;
       column-gap: 2vw;
}
.section-managers__clients {
  grid-area: left;
}
.section-managers__swiper {
  grid-area: right-bottom;
  width: 100%;
  height: 100%;
}
.section-managers__buttons {
  grid-area: right-top;
}

/* section-managers */
.section-managers__next:hover {
  color: rgba(48, 82, 158, 0.6);
}
.section-managers__prev:hover {
  color: rgba(48, 82, 158, 0.6);
}
.section-managers__btn {
  transition: background-color 0.3s ease-in-out;
}
.section-managers__btn:hover {
  background-color: #30529f;
}
.section-managers__phone {
  transition: color 0.3s ease-in-out;
}
.section-managers__phone:hover {
  color: #f39c37;
}
.section-managers__phone:focus {
  color: #f39c37;
}
.section-managers__email {
  transition: color 0.3s ease-in-out;
}
.section-managers__email:hover {
  color: #f39c37;
}
.section-managers__email:focus {
  color: #f39c37;
}
.section-managers__photo:hover {
  -webkit-animation: shake 0.5s;
          animation: shake 0.5s;
}
.section-managers__phone:hover {
  -webkit-animation: shake 0.5s;
          animation: shake 0.5s;
}
@-webkit-keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  position: relative;
  background-color: #fff;
}

body {
  background: linear-gradient(0deg, rgba(246, 247, 251, 0.7), rgba(246, 247, 251, 0.7)), #FFFFFF;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

picture {
  display: inline-block;
  height: 100%;
  width: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

picture:focus,
img:focus,
div:focus,
svg:focus {
  outline: none;
}

button,
input {
  display: inline-block;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.container {
  max-width: 1559px;
  margin: 0 auto;
  padding: 0 20px;
}

/* section-managers */
.section-managers__content {
  padding-top: 50px;
  padding-bottom: 50px;
}
.section-managers__heading-h2 {
  margin-bottom: 40px;
  font-family: "CenturyGothic-Bold", "Arial, sans-serif";
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: #30529f;
}
.section-managers__txt {
  margin-bottom: 20px;
  font-family: "CenturyGothic", "Arial, sans-serif";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #212f50;
}
.section-managers__btn {
  padding: 12px 40px;
  font-family: "CenturyGothic-Bold", "Arial, sans-serif";
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
  border-radius: 8px;
  background-color: #f39c37;
}
.section-managers__slide {
  position: relative;
  display: flex;
  flex-direction: column;
  height: auto;
}
.section-managers__photo {
  cursor: pointer;
}
.section-managers__name-h2 {
  margin-bottom: 50px;
  font-family: "CenturyGothic-Bold", "Arial, sans-serif";
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #30529f;
}
.section-managers__position-h3 {
  font-family: "CenturyGothic", "Arial, sans-serif";
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #30529f;
}
.section-managers__phone {
  display: block;
  margin-bottom: 10px;
  font-family: "CenturyGothic-Bold", "Arial, sans-serif";
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #30529f;
}
.section-managers__email {
  display: block;
  margin-bottom: 20px;
  font-family: "CenturyGothic", "Arial, sans-serif";
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #30529f;
  word-break: break-word;
}
.section-managers__buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.section-managers__prev {
  color: #cde6e9;
  transition: color ease-in-out 0.3s;
  cursor: pointer;
}
.section-managers__next {
  margin-left: 30px;
  color: #cde6e9;
  transition: color ease-in-out 0.3s;
  transform: scale(-1, 1);
  cursor: pointer;
}

/* breakpoint 1 1400 */
/* breakpoint 2 1200 */
/* breakpoint 3 992 */
@media (max-width: 992px) {
  .section-managers__content {
    display: grid;
    grid-template-areas: "top top" "bottom bottom";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr minmax(auto, 600px);
    row-gap: 2vw;
  }
  .section-managers__clients {
    grid-area: top;
  }
  .section-managers__swiper {
    grid-area: bottom;
  }
  .section-managers__buttons {
    grid-area: top;
    align-self: flex-end;
  }
  .section-managers__wrapper {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .section-managers__slide {
    display: grid;
    grid-template-areas: "left right";
    grid-template-columns: 1fr 1fr;
    -moz-column-gap: 2vw;
         column-gap: 2vw;
    height: calc((100% - 30px) / 2) !important;
  }
  .section-managers__photo {
    grid-area: left;
    height: 100%;
    width: 100%;
  }
  .section-managers__name-h2 {
    margin-bottom: 20px;
  }
  .section-managers__contacts {
    grid-area: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
/* breakpoint 4 768 */
/* breakpoint 5 576 */
@media (max-width: 576px) {
  .section-managers__position-h3 {
    word-break: break-word;
  }
  .section-managers__name-h2 {
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 20px;
  }
  .section-managers__phone {
    font-size: 18px;
    line-height: 20px;
  }
  .section-managers__email {
    font-size: 18px;
    line-height: 20px;
  }
  .section-managers__position-h3 {
    font-size: 16px;
    line-height: 20px;
  }
}/*# sourceMappingURL=style.css.map */